@import "variables";

body {
	margin: 0;
	padding: 0;
	min-width: 470px;
	font-family: 'Cairo', sans-serif;
}

.HeroHeader__InfoMedical {
	padding: 10px 30px;
	margin: 0;
	text-align: center;
	background-color: $basic-color2;
	&__h1 {
		font-size: 1.5em;
	}
	&__p {
		max-width: 950px;
		margin: auto;
		padding: 0 0 20px 0;
		color: $basic-color1;
		line-height: 2em;
		font-size: 1.4em;
	}
}

.Symptômes {
	&__symp {
		text-align: center;
		padding: 30px 0 0 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		&__Dimg {
			&__img {
				width: 24rem;
				justify-self: center;
				padding: 30px 0 0 0;
			}
		}

		&__content1 {
			padding: 0 0 20px 0;
			&__p1 {
				color: $basic-color1;
				font-weight: bold;
				font-size: 1.2em;
				line-height: 30px;
			}
			&__img {
				width: fit-content;
			}
			&__p2 {
				line-height: 30px;
				font-size: 1.2em;
			}
			&__a {
				&__button {
					padding: 10px 90px;
					color: $basic-color3;
					background-color: $basic-color1;
					border: none;
					border-radius: 5px;
					font-weight: bolder;
					font-size: 20px;
				}
			}
		}
	}
	&__srv {
		text-align: center;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: "h1 h1" "Fièvre Nausées" "Gêne Toux";
		align-items: center;
		&__h1 {
			color: $basic-color1;
			grid-area: h1;
			margin: 40px 0;
		}
		&__Fièvre {
			grid-area: Fièvre;
			&__img {
				width: 4em;
			}
		}
		&__Nausées {
			grid-area: Nausées;
			align-self: self-end;
			&__img {
				width: 7em;
			}
		}
		&__Toux {
			grid-area: Toux;
			align-self: self-end;
			&__img {
				width: 8em;
			}
		}
		&__Gêne {
			grid-area: Gêne;
			&__img {
				width: 9em;
			}
		}
	}
}

.HeroFooter {
	&__test {
		background-color: $basic-color3;
		text-align: center;
		padding: 20px 0;
		&__h1 {
			color: $basic-color1;
		}
		&__img {
			width: auto;
		}
		&__a {
			text-decoration: none;

			&__button {
				padding: 10px 90px;
				color: $basic-color3;
				background-color: $basic-color1;
				border: none;
				border-radius: 5px;
				font-weight: bolder;
				font-size: 20px;
			}
		}
	}
}
