$basic-color1: #1078ad;
$basic-color2: #f4cf1b;
$basic-color3: #d0e5f0;
@extend.Informations__covidmaroc__a__button {
	max-width: 13rem;
	padding: 15px 20px;
	border: none;
	border-radius: 3px;
	color: $basic-color3;
	background-color: $basic-color1;
}
