@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  min-width: 470px; }

.HeroHeader__header {
  background-color: #d0e5f0;
  background-image: url(../../images/Mergedbar-1.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "headimg ulBtt"; }
  .HeroHeader__header__img {
    grid-area: headimg;
    width: 4em;
    padding: 0 0 0 15px; }
  .HeroHeader__header__ulBtt {
    display: flex;
    padding: 0 20px 0 0;
    grid-area: ulBtt;
    justify-self: end;
    align-items: center; }
    .HeroHeader__header__ulBtt__ul__li {
      display: inline-flex;
      list-style: none; }
      .HeroHeader__header__ulBtt__ul__li__a {
        font-size: 1.5em;
        padding: 0 10px;
        text-decoration: none;
        color: #1078ad; }
    .HeroHeader__header__ulBtt__button {
      margin: 0 0 0 15px;
      text-align: center;
      border: 1px solid #1078ad;
      border-radius: 10px;
      background-color: initial; }
      .HeroHeader__header__ulBtt__button__a {
        color: #1078ad;
        font-size: 25px;
        text-decoration: none; }
        .HeroHeader__header__ulBtt__button__a__img {
          padding: 6px 0 0 5px;
          width: 25px; }

.HeroHeader__InfoMedical {
  padding: 10px 30px;
  margin: 0;
  text-align: center;
  background-color: #f4cf1b; }
  .HeroHeader__InfoMedical__h1 {
    font-size: 2em; }
  .HeroHeader__InfoMedical__p {
    color: #1078ad;
    line-height: 2em; }

.Symptômes__symp {
  text-align: center;
  padding: 30px 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr)); }
  .Symptômes__symp__Dimg__img {
    width: 24rem;
    justify-self: center;
    padding: 30px 0 0 0; }
  .Symptômes__symp__content1 {
    padding: 0 0 20px 0; }
    .Symptômes__symp__content1__p1 {
      color: #1078ad;
      font-weight: bold;
      line-height: 30px; }
    .Symptômes__symp__content1__img {
      width: fit-content; }
    .Symptômes__symp__content1__p2 {
      line-height: 30px; }
    .Symptômes__symp__content1__a__button {
      padding: 10px 90px;
      border: none;
      border-radius: 5px;
      background-color: #1078ad;
      color: #fff;
      font: bolder;
      font-size: 20px; }

.Symptômes__srv {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "h1 h1" "Fièvre Nausées" "Gêne Toux";
  align-items: center; }
  .Symptômes__srv__h1 {
    color: #1078ad;
    grid-area: h1;
    margin: 40px 0; }
  .Symptômes__srv__Fièvre {
    grid-area: Fièvre; }
    .Symptômes__srv__Fièvre__img {
      width: 4em; }
  .Symptômes__srv__Nausées {
    grid-area: Nausées;
    align-self: self-end; }
    .Symptômes__srv__Nausées__img {
      width: 7em; }
  .Symptômes__srv__Toux {
    grid-area: Toux;
    align-self: self-end; }
    .Symptômes__srv__Toux__img {
      width: 8em; }
  .Symptômes__srv__Gêne {
    grid-area: Gêne; }
    .Symptômes__srv__Gêne__img {
      width: 9em; }
