@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  min-width: 470px;
  font-family: 'Cairo', sans-serif; }

.HeroHeader__header {
  background-color: #d0e5f0;
  background-image: url(../../images/Mergedbar-1.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: " ulBtt headimg"; }
  .HeroHeader__header__img {
    grid-area: headimg;
    width: 4em;
    padding: 0 15px 0 0;
    justify-self: end; }
  .HeroHeader__header__ulBtt {
    display: flex;
    padding: 0 20px 0 0;
    grid-area: ulBtt;
    justify-self: start;
    align-items: center; }
    .HeroHeader__header__ulBtt__ul__li {
      display: inline-flex;
      list-style: none; }
      .HeroHeader__header__ulBtt__ul__li__a {
        font-size: 1.5em;
        padding: 0 20px;
        text-decoration: none;
        color: #1078ad; }
    .HeroHeader__header__ulBtt__button {
      margin: 0 0 0 15px;
      padding: 8px 6px;
      text-align: center;
      border: 1px solid #1078ad;
      border-radius: 10px;
      background-color: initial; }
      .HeroHeader__header__ulBtt__button__a {
        display: flex;
        color: #1078ad;
        font-size: 25px;
        text-decoration: none; }
        .HeroHeader__header__ulBtt__button__a__img {
          padding: 0 0 0 5px;
          width: 25px; }

.HeroHeader__InfoMedical {
  padding: 10px 30px;
  margin: 0;
  text-align: center;
  background-color: #f4cf1b; }
  .HeroHeader__InfoMedical__h1 {
    font-size: 2em; }
  .HeroHeader__InfoMedical__p {
    max-width: 950px;
    margin: auto;
    padding: 0 0 20px 0;
    color: #1078ad;
    line-height: 2em; }

.Symptômes__symp {
  text-align: center;
  padding: 30px 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr)); }
  .Symptômes__symp__Dimg__img {
    width: 24rem;
    justify-self: center;
    padding: 30px 0 0 0; }
  .Symptômes__symp__content1 {
    padding: 0 0 20px 0; }
    .Symptômes__symp__content1__p1 {
      color: #1078ad;
      font-weight: bold;
      line-height: 30px; }
    .Symptômes__symp__content1__img {
      width: fit-content; }
    .Symptômes__symp__content1__p2 {
      line-height: 30px; }
    .Symptômes__symp__content1__a__button {
      padding: 10px 90px;
      color: #d0e5f0;
      background-color: #1078ad;
      border: none;
      border-radius: 5px;
      font-weight: bolder;
      font-size: 15px; }

.Symptômes__srv {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "h1 h1" "Fièvre Nausées" "Gêne Toux";
  align-items: center; }
  .Symptômes__srv__h1 {
    color: #1078ad;
    grid-area: h1;
    margin: 40px 0; }
  .Symptômes__srv__Fièvre {
    grid-area: Fièvre; }
    .Symptômes__srv__Fièvre__img {
      width: 4em; }
  .Symptômes__srv__Nausées {
    grid-area: Nausées;
    align-self: self-end; }
    .Symptômes__srv__Nausées__img {
      width: 7em; }
  .Symptômes__srv__Toux {
    grid-area: Toux;
    align-self: self-end; }
    .Symptômes__srv__Toux__img {
      width: 8em; }
  .Symptômes__srv__Gêne {
    grid-area: Gêne; }
    .Symptômes__srv__Gêne__img {
      width: 9em; }

.Recommandations {
  background-color: #1078ad;
  padding: 10px; }
  .Recommandations__h1 {
    margin: 0;
    color: #d0e5f0;
    text-align: center; }
  .Recommandations__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr)); }
    .Recommandations__content__cont1 {
      justify-self: center;
      text-align: center; }
      .Recommandations__content__cont1__h2 {
        color: #d0e5f0; }
      .Recommandations__content__cont1__p {
        color: #d0e5f0; }
    .Recommandations__content__cont2 {
      align-self: center;
      text-align: center;
      padding: 0 0 5px 0; }
      .Recommandations__content__cont2__h4 {
        color: #f4cf1b; }
      .Recommandations__content__cont2__button {
        background-color: #f4cf1b;
        color: #1078ad;
        border: none;
        padding: 10px; }
      .Recommandations__content__cont2__a {
        color: #d0e5f0;
        text-decoration-color: #f4cf1b; }

.HeroFooter__test {
  background-color: #d0e5f0;
  text-align: center;
  padding: 20px 0; }
  .HeroFooter__test__h1 {
    color: #1078ad; }
  .HeroFooter__test__img {
    width: auto; }
  .HeroFooter__test__a {
    text-decoration: none; }
    .HeroFooter__test__a__button {
      padding: 10px 90px;
      color: #d0e5f0;
      background-color: #1078ad;
      border: none;
      border-radius: 5px;
      font-weight: bolder;
      font-size: 15px; }

.HeroFooter__footer {
  text-align: center; }
  .HeroFooter__footer__img {
    width: auto;
    padding: 10px 0 0 0; }
  .HeroFooter__footer__grid {
    padding: 30px 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr)); }
    .HeroFooter__footer__grid__grid2 {
      display: flex;
      justify-content: space-around; }
      .HeroFooter__footer__grid__grid2__lang {
        align-self: center; }
        .HeroFooter__footer__grid__grid2__lang__button {
          background-color: initial;
          border-color: #1078ad;
          border-radius: 5px;
          padding: 5px; }
          .HeroFooter__footer__grid__grid2__lang__button__a {
            display: flex;
            color: #1078ad;
            text-decoration: none; }
            .HeroFooter__footer__grid__grid2__lang__button__a__img {
              width: 1em;
              padding: 0 0 0 4px; }
        .HeroFooter__footer__grid__grid2__lang__ul {
          padding: 0; }
          .HeroFooter__footer__grid__grid2__lang__ul__li {
            list-style: none; }
            .HeroFooter__footer__grid__grid2__lang__ul__li__a {
              padding: 0 0 8px 0;
              text-decoration: none;
              color: black;
              display: block; }
      .HeroFooter__footer__grid__grid2__contacts__h3 {
        color: #1078ad; }
      .HeroFooter__footer__grid__grid2__contacts__h4--chiffre {
        color: black; }
      .HeroFooter__footer__grid__grid2__contacts__h4--num {
        color: #369d53; }
      .HeroFooter__footer__grid__grid2__contacts__h4--aide {
        color: black; }
      .HeroFooter__footer__grid__grid2__contacts__h4--114 {
        color: #369d53; }
    .HeroFooter__footer__grid__algorithme {
      align-self: center;
      justify-self: center; }
      .HeroFooter__footer__grid__algorithme__p {
        max-width: 600px;
        padding: 5px;
        color: black;
        opacity: 0.6; }
  .HeroFooter__footer__color {
    background-color: #1078ad;
    height: 20px; }
